body{
    margin: 0, auto;
    font-family: 'Roboto', sans-serif;
}

.button-main{
    color: white;
    border: none;
    background-color: #0A0A0A;
    padding: 8px 20px;
    border-radius: 8px;
}
.nav-link {
   margin-right: 15px;
}

.see-all-btn a{
    text-decoration: none;
    color: #FFD019;
    font-weight: 700;
}

.item-price-color{
    color: #0A0A0A;
    font-weight: 700;
}

/*Slider Section css*/
.slider-section{
    margin-top: 30px;
    margin-bottom: 90px;
    background-color: aliceblue;
}
.carousel-inner{
    padding: 30px 70px;
}
.carousel-indicators .active{
    background-color: #FFD019;
}

/*Smart Phone section css*/
.smart-phone-section{
    margin-bottom: 90px;
}
.smart-phone-section .card-body{
    text-align: center;
}
.smart-phone-section .card-img-top{
    padding: 30px 30px;
}
.smart-phone-section .card{
    border: none;
    box-shadow: 1px 1px 3px lightblue;
}

/*Category Section css*/
.categories{
    margin-bottom: 90px;
}
.title-underline{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #FFD019;
    text-decoration-thickness: 5px; 
    margin-bottom: 30px;   
}

.category-icons{
    box-shadow: 3px 3px 8px lightgray;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
}
.cat-2{
    margin-bottom: 30px;
}
.category-image img{
    width: 100%;
}

.footer-item{
    text-align: center;
    margin-bottom: 3px;
}